.log-cell {
  box-sizing: border-box;
  padding: 0.5rem 0.5rem 0;
  width: 278px;
  border: 1px solid $border;
  border-radius: 0.5rem;
  background-color: $background-content;
  pointer-events: none;

  @include cell-shadow(0.2);

  &__none-text {
    height: 170px;
    color: $font-sub;
    text-align: center;
    text-decoration: none;
    font-size: 0.875rem;
    line-height: 170px;
  }

  &__link {
    text-decoration: none;
  }
}

.log-cell-data {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  padding: 0.5rem;
  width: 100%;
  border-top: 1px solid $border;

  &__title {
    color: $font-main;
    font-size: 1rem;
    line-height: 1.25rem;
  }
}

.logcell-data-text-area {
  overflow: auto;
  margin-bottom: 0.25rem;
  height: 2.5rem;
}


.log-cell-data-log-area {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 0.25rem;
  width: 100%;
}

.log-cell-data-profile {
  display: flex;
  align-items: center;
  flex-direction: row;
  width: 50%;

  &__icon {
    height: 1rem;
    border-radius: 0.5rem;
  }

  &__name {
    color: $font-sub;
    font-size: 0.75rem;
  }
}

.log-cell-data-update {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: flex-end;
  width: 50%;

  &__icon {
    margin-right: 0.25rem;
    color: $font-sub;
    font-size: 0.75rem;
  }

  &__text {
    color: $font-sub;
    font-size: 0.75rem;
  }
}