$main: #16b5a5;
$background: #F1EFF0;
$background-content: #fff;

$background-footer: #DDD1C1;

$font-main: #4d4d4d;
$font-sub: #797979;
$font-header: #fff;
$font-footer: #AAA6A0;
$border: #e6e6e6;

$background-alert-success:#d4edda;
$border-alert-success:#c3e6cb;
$font-alert-success:#3c763d;

$background-alert-alert:#fff3cd;
$border-alert-alert:#ffeeba;
$font-alert-alert:#856404;

$background-alert-info:#f5f5f5;
$border-alert-info:#e8e8e8;
$font-alert-info:#4d4d4d;

$background-alert-warning:#f8d7da;
$border-alert-warning:#f5c6cb;
$font-alert-warning:#721c24;

$graph-color-red: #F44336;
$graph-color-blue: #3F51B5;
$graph-color-green: #4CAF50;
$graph-color-orange: #FF9800;
$graph-color-purple: #673AB7;
$graph-color-pink: #E91E63;
$graph-color-brown: #795548;

// $background-url:#ffe0b2;
// $border-url:#f3d9a4;
// $font-url:#6f5111;

// $button-warning: #d9534f;
// $button-export-csv:#81c784;
// $button-export-json:#64b5f6;