- if log.graph == "column"
  = render "logs/column_chart", log: log, height: height, width: width, display_axis: display_axis
- elsif log.graph == "line"
  = render "logs/line_chart", log: log, height: height, width: width, display_axis: display_axis
