= line_chart log.values.pluck(:valued_on, :value), \
  colors: [chart_color(log)],\
  height: height,\
  width: width,\
  library: { scales: { xAxes: [ { ticks: { display: display_ticks } } ], yAxes: [ { ticks: { display: display_ticks } } ] } }
