= line_chart log.values.group("date(created_at)").sum(:value), \
  colors: [chart_color(log)],\
  height: height,\
  width: width,\
  library: { scales: { xAxes: [ { display: display_axis } ], yAxes: [ { display: display_axis } ] } }
