.log {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  box-sizing: border-box;
  padding: 1rem;
  width: 100%;
  border-radius: 0.25rem;
  background-color: $background-content;
}

.log-header {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 1rem;
  width: 100%;

  &__title {
    flex: 8;
    color: $font-main;
    font-size: $font-log-title;
  }

  &__links {
    display: flex;
    align-items: center;
    flex: 3;
    flex-direction: row;
    justify-content: flex-end;
    height: $font-log-title;
  }

  &__link {
    display: flex;
    align-items: center;
    box-sizing: border-box;
    margin-left: 0.5rem;
    padding: 0 0.875rem;
    height: 100%;
    border-radius: 4px;
    text-decoration: none;
    font-size: $font-log-link;

    &:hover {
      cursor: pointer;
    }

    &--edit {
      border: 1px solid $border;
      color: $font-sub;

      @extend .log-header__link;
    }

    &--delete {
      border: 1px solid $border-alert-warning;
      background-color: $background-alert-warning;
      color: $font-alert-warning;

      @extend .log-header__link;
    }

    &--follow {
      border: 1px solid $border;
      color: $font-sub;

      @extend .log-header__link;
    }

    &--unfollow {
      border: 1px solid $border-alert-warning;
      background-color: $background-alert-warning;
      color: $font-alert-warning;

      @extend .log-header__link;
    }
  }
}

.log-data {
  display: flex;
  flex-direction: row;
  margin-bottom: 1rem;
  width: 100%;
  height: 2.5rem;

  &__text {
    margin-bottom: 0.5rem;
    color: $font-sub;
    font-size: 0.75rem;
  }

  &__box {
    display: flex;
    flex-direction: column;
    width: 33%;
  }

  &__profile {
    display: flex;
    align-items: center;
    flex-direction: row;
    width: 100%;
    height: 1.5rem;
    text-decoration: none;

    &-icon {
      margin-right: 0.25rem;
      height: 100%;
      border-radius: 50%;
    }

    &-name {
      color: $font-main;
      font-size: 0.875rem;
    }
  }

  &__date {
    display: flex;
    align-items: center;
    height: 1.5rem;

    @extend .log-data__profile-name;
  }
}

.log-description {
  margin-bottom: 3rem;
  width: 100%;
  color: $font-main;
  word-break: break-all;
  font-size: 0.875rem;
  line-height: 1.5rem;
}

.log-chart {
  margin-bottom: 2rem;
}

.log-values {
  margin-bottom: 2rem;
  width: 100%;

  &__title {
    margin-bottom: 0.5rem;
    width: 100%;
    color: $font-main;
  }

  &__none-text {
    margin-bottom: 0.5rem;
    width: 100%;
    color: $font-sub;
    font-size: 0.875rem;
  }
}

.log-values-table {
  width: 100%;
  border-collapse: collapse;

  &__thead {
    width: 100%;
    border-bottom: 1px solid $border;
    font-size: 0.875rem;

    &-tr {
      display: flex;
      align-items: center;
      flex-direction: row;
      justify-content: space-between;
      margin-bottom: 0.375rem;
      width: 100%;
    }

    &-th {
      &--date {
        flex: 3;
        color: $font-sub;
        font-weight: normal;
      }

      &--value {
        flex: 7;
        color: $font-sub;
        font-weight: normal;
      }
    }
  }

  &__tr {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
    box-sizing: border-box;
    padding: 0 1rem;
    width: 100%;
    height: 1.75rem;
    border-bottom: 1px solid $border;
    text-align: right;

    & td {
      border-right: 1px solid $border
    }

    & td:last-child {
      border-right: none;
    }
  }

  &__th {
    &--date {
      flex: 3;
      box-sizing: border-box;
      color: $font-main;
      text-align: center;
      font-weight: normal;
      font-size: 1.125rem;
      font-family: Consolas, "Courier New", Courier, Monaco, monospace, "ＭＳ ゴシック", "MS Gothic", Osaka−等幅;
    }

    &--value {
      flex: 7;
      box-sizing: border-box;
      padding: 0 1rem;
      color: $font-main;
      text-align: right;
      font-weight: normal;
      font-size: 1.125rem;
      font-family: Consolas, "Courier New", Courier, Monaco, monospace, "ＭＳ ゴシック", "MS Gothic", Osaka−等幅;
    }

    &--button {
      display: flex;
      align-items: center;
      flex: 1.5;
      flex-direction: column;
      justify-content: center;
      height: 100%;
      font-weight: normal;
    }
  }

  &__button {
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    padding: 0 0.5rem;
    height: 90%;
    border: 1px solid $border-alert-warning;
    border-radius: 4px;
    background-color: $background-alert-warning;
    color: $font-alert-warning;
    text-decoration: none;
    font-size: $font-log-link;
  }
}

.value-form {
  width: 100%;
}